.tools/
.dart_tool/
.flutter-plugins-dependencies
build/
coverage/
*.iml
.idea/
.env*
!.env.example
android/local.properties
android/key.properties
*.jks
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

config.local.json
*.local.json
